/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #111;
}

li {
    display: inline;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #f6c500;
    background-color: #111;
}

.nav-links {
    display: flex;
    column-gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #f6c500;
    transition: 1s ease;
    border-radius: 50px;
    font-weight: 700;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 3px solid #f6c500;
    display: inline-block;
    line-height: 1.2;
    min-width: 130px;
    text-align: center;
    padding: 10px 25px;
    vertical-align: middle;
}

.nav-links a:hover {
    scale: 1.1;
    background-color: #f6c500;
    color: black;
    box-shadow: #222 3px 4px 6px 0px inset;
}

.navbar-toggle {
    display: none;
}

.navbar-toggle {
    color: #f6c500;
    font-size: 24px;
    cursor: pointer;
}

/* Side Navbar */
.side-navbar {
    background-color: #222;
    width: 35%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    text-align: right;
    transition: 0.5s ease;
    z-index: 2;
}

.close-btn {
    display: inline-block;
    padding: 10px 10px;
    color: #f6c500;
    cursor: pointer;

}

.close-btn:hover {
    color: white;
}

.side-nav-links a {
    display: block;
    text-decoration: none;
    color: #f6c500;
    font-weight: 600;
    padding: 15px 15px;
}

.side-nav-links a:hover {
    background-color: #f6c500;
    color: black;
    transition: 0.3s ease;
}

/* Hero Section */
.hero {
    color: #fff;
    display: block;
    position: relative;
    margin-left: 100px;
    gap: 50px;
    margin-top: 120px;
    z-index: 1;
}

.cta-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #f6c500;
    margin-top: 15px;
    font-weight: 900;
    font-size: larger;
}

.cta-button:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 0.3s ease;
}

.hero h1 {
    font-size: 50px;
}

.hero .asp{
    display: block;
    font-size: 20px;
    font-weight: 500;
}

.che {
    font-size: 20px;
    font-style: italic ;
}

.asp{
    font-size: medium;
}
.eng {
    color: #f6c500;
    font-size: 25px;
    font-weight: 700;
}

.an {
    color: #f6c500;
}

.loc {
    margin-top: 10px;
}

/* About Section */


/* Responsiveness */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .hero {
        margin-top: 120px;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero div {
        text-align: center;
    }

}